@font-face {
  font-family: Aracne;
  src: url(/build/website/fonts/aracne.otf) format('opentype');
}

@font-face {
  font-family: Flower;
  src: url(/build/website/fonts/flower.ttf) format('truetype');
}

body {
  background-color: transparent;
}

