@font-face {
  font-family: Aracne;
  src: url(/build/website/fonts/aracne.otf) format('opentype');
}

@font-face {
  font-family: Flower;
  src: url(/build/website/fonts/flower.ttf) format('truetype');
}

body {
  background-color: transparent;
  max-height: 100%;
  overflow-x: hidden;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.background {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover !important;
}

  .background.ng-enter
, .background.ng-leave {
  .transition(all ease 1s);
}

  .background.ng-enter
, .background.ng-leave.ng-leave-active  {
  opacity: 0;
}

  .background.ng-enter.ng-enter-active
, .background.ng-leave {
  opacity: 1;
}