@font-face {
  font-family: Aracne;
  src: url(/build/website/fonts/aracne.otf) format('opentype');
}

@font-face {
  font-family: Flower;
  src: url(/build/website/fonts/flower.ttf) format('truetype');
}

body {
  background-color: transparent;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.intro {
  float: left;
  .transition(1s ease all);
  opacity: 0;
}

.intro.active {
  opacity: 1;
}